<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinFormUI.Properties.Settings>
            <setting name="filePath" serializeAs="String">
                <value />
            </setting>
            <setting name="beep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tunic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spells" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="beam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="music" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sprite" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shield" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="custom1" serializeAs="String">
                <value />
            </setting>
            <setting name="custom2" serializeAs="String">
                <value />
            </setting>
            <setting name="custom3" serializeAs="String">
                <value />
            </setting>
            <setting name="lastused" serializeAs="String">
                <value />
            </setting>
            <setting name="update" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="beams" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="upac1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastseed" serializeAs="String">
                <value />
            </setting>
            <setting name="noflash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useCustomRooms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customizableButtonBase" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Name|Custom</string>
                        <string>Flagset|</string>
                        <string>Tooltip|Right click to set your custom flagset</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="beepFrequency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="beepThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useCommunityText" serializeAs="String">
                <value>False</value>
            </setting>
        </WinFormUI.Properties.Settings>
    </userSettings>
</configuration>