<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Z2Randomizer.WinFormUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinFormUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Z2Randomizer.WinFormUI.Properties.Settings>
            <setting name="filePath" serializeAs="String">
                <value />
            </setting>
            <setting name="beep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tunic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spells" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="beam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="music" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sprite" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shield" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="lastused" serializeAs="String">
                <value />
            </setting>
            <setting name="update" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="beams" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="upac1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastseed" serializeAs="String">
                <value />
            </setting>
            <setting name="noflash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useCustomRooms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customizableButton1" serializeAs="String">
                <value>{"Flagset": "RChN6GAABRFJUNmCsyX5t+@KChsAjtZdAAFRA", "Name": "Beginner", "Tooltip": "This is great for people looking for a casual experience"}</value>
            </setting>
            <setting name="customizableButton2" serializeAs="String">
                <value>{"Flagset": "RAAN6BABYbFs2NmCs3Y5c+!59qtgbtJdAAFRA", "Name": "Standard", "Tooltip": "Standard Flags commonly used for races."}</value>
            </setting>
            <setting name="customizableButton3" serializeAs="String">
                <value>{"Flagset": "hEAB0thBYbWs4WEb14HGg+!59rtgbtJ!AAFRA", "Name": "Max Rando", "Tooltip": "Flags for the 2025 Max Rando Tournament"}</value>
            </setting>
            <setting name="beepFrequency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="beepThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="customizableButtonBase" serializeAs="String">
                <value>{"Flagset": "", "Name": "Not set", "Tooltip": "Right click to set your custom flagset"}</value>
            </setting>
            <setting name="useCommunityText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customizableButton4" serializeAs="String">
                <value>{"Flagset": "hEAK0thCqbs36emL4XpGU+!5@W4xeWvdAALhA", "Name": "Random%", "Tooltip": "Is it randomized? Who knows?"}</value>
            </setting>
            <setting name="customizableButton5" serializeAs="String">
                <value />
            </setting>
            <setting name="customizableButton6" serializeAs="String">
                <value />
            </setting>
            <setting name="randomizeMusic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disableUnsafeMusic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mixCustomAndOriginalMusic" serializeAs="String">
                <value>True</value>
            </setting>
        </Z2Randomizer.WinFormUI.Properties.Settings>
        <WinFormUI.Properties.Settings>
            <setting name="filePath" serializeAs="String">
                <value />
            </setting>
            <setting name="beep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tunic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spells" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="beam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="music" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sprite" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shield" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="custom1" serializeAs="String">
                <value />
            </setting>
            <setting name="custom2" serializeAs="String">
                <value />
            </setting>
            <setting name="custom3" serializeAs="String">
                <value />
            </setting>
            <setting name="lastused" serializeAs="String">
                <value />
            </setting>
            <setting name="update" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="beams" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="upac1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastseed" serializeAs="String">
                <value />
            </setting>
            <setting name="noflash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useCustomRooms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customizableButtonBase" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Name|Custom</string>
                        <string>Flagset|</string>
                        <string>Tooltip|Right click to set your custom flagset</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="beepFrequency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="beepThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useCommunityText" serializeAs="String">
                <value>False</value>
            </setting>
        </WinFormUI.Properties.Settings>
    </userSettings>
</configuration>