/.vs
/**/obj
/**/bin
/**/Logs
/**/Debug
/Z2Randomizer.userprefs
/UpgradeLog.htm
/UpgradeLog2.htm
/AnalysisReport.sarif
/Statistics/Statistics.csproj.user
/Statistics/db/*.sqlite
.idea/
*.nes
*.user
.vscode/
.DS_Store
*.log
