<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Z2Randomizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <Z2Randomizer.Properties.Settings>
            <setting name="filePath" serializeAs="String">
                <value />
            </setting>
            <setting name="beep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tunic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spells" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="beam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="music" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sprite" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shield" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="custom1" serializeAs="String">
                <value />
            </setting>
            <setting name="custom2" serializeAs="String">
                <value />
            </setting>
            <setting name="custom3" serializeAs="String">
                <value />
            </setting>
            <setting name="lastused" serializeAs="String">
                <value />
            </setting>
            <setting name="update" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="beams" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="upac1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastseed" serializeAs="String">
                <value />
            </setting>
            <setting name="noflash" serializeAs="String">
                <value>False</value>
            </setting>
        </Z2Randomizer.Properties.Settings>
    </userSettings>
</configuration>
