:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: #303030;
}

#out {
    width: 940px;
    height: 820px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#avalonia-splash {
    position: relative;
    height: 100%;
    width: 100%;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#loading-status {
    margin-top: 2rem;
    text-align: center;
    font-weight: 700;
}

#progress-bar {
    width: 734px;
    height: 16px;
    margin-top: 2rem;
}

#progress-fill {
    height: 100%;
    width: 0%;
    background: #ffd57f;
}

#error-message {
    margin-top: 2rem;
    text-align: center;
    color: red;
}

.splash-logo {
    z-index: 5000;
    pointer-events: none;
}

.splash-close {
    animation: fadeout 0.25s linear forwards;
}

@keyframes fadeout {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
        visibility: collapse;
    }
}
